# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore test files
test/
tests/
*.spec.js

# Ignore local environment files
.env

# Ignore build files
dist/
build/

# Ignore configuration files
.vscode/
.idea/
